# Gradle wrapper
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android
local.properties
*.iml
.idea/
.cxx/
captures/
.externalNativeBuild
*.apk
*.aab
*.ap_
*.dex
*.class

# Kotlin
.kotlin/

# Keystore
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db

# Logs
*.log
